@use "../base/mixins" as m;

.article-form {
  @include m.container($maxWidth: 60rem);
  padding: 4rem 0 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  .errors {
    padding-bottom: 2rem;
    position: relative;

    @include m.md {
      width: 100%;
      position: absolute;
      top: -6.4rem;
      left: 28rem;
    }

    @include m.lg {
      left: 16rem;
    }

    @include m.xl {
      left: 6rem;
    }
  }
}

.form-warning {
  padding-top: 0.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: red;
  animation: fadeIn 1s ease-in-out forwards, blink 1s ease-in-out infinite 1s;

  &--soft {
    color: black;
    animation: fadeIn 1s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    color: red;
  }
  50% {
    color: crimson;
  }
}
