@use "../base/variables" as v;

.btn {
  padding: 1rem 2rem;
  color: v.$white;
  background-color: v.$blue;
  border: none;
  border-radius: 1000rem;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &--delete {
    background-color: v.$redDark;
  }
}
