@use "../base/variables" as v;
@use "../base/mixins" as m;

.modal {
  @include m.container($maxWidth: 50rem);
  max-height: 80rem;
  padding: 5rem 3rem 2.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translate(-50%, -50%);
  background-color: rgba($color: v.$white, $alpha: 0.9);
  border-radius: 1rem;
  transform-style: preserve-3d;
  z-index: 100;

  &__header {
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__actions {
    padding: 2rem 0rem 0rem;
    display: flex;
    justify-content: space-around;

    * {
      text-transform: capitalize;
      font-weight: 600;
    }
  }

  .article-preview {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    box-shadow: 1px 2px 4px 0px rgba($color: v.$black, $alpha: 0.2);
    border-radius: 1rem;

    &__title {
      width: 100%;
      word-break: break-all;
    }

    &__content {
      font-size: 2.4rem;
    }

    &__img {
      max-height: 50rem;
      object-fit: contain;
    }
  }

  &::before {
    content: "";
    height: 101vh;
    width: 101vw;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba($color: v.$black, $alpha: 0.8);
    transform: translate(-50%, -50%) translateZ(-1px);
  }
}
