@use "../base/variables" as v;
@use "../base/mixins" as m;

.container {
  @include m.container;
  padding-top: 5rem;
}

.heading {
  font-size: 4.8rem;

  @include m.md {
    font-size: 6.4rem;
  }
}

.scroll-nav {
  overflow: hidden;

  @include m.md {
    overflow: auto;
  }
}

.mt-auto {
  margin-top: auto;
}

.shorted {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.center-text {
  text-align: center;
}

.category {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 1000rem;
}
@each $category, $color in v.$categories {
  .category-#{$category} {
    color: $color;
    border-color: $color;
  }
}

.no-scroll {
  overflow: hidden;
}
