@use "../base/variables" as v;
@use "../base/mixins" as m;

.login-form {
  @include m.container($maxWidth: 50rem);
  margin: auto;
  padding: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  overflow: hidden;

  .errors {
    position: absolute;
    top: 0;
  }
}
